<mat-drawer-container autosize class="example-container">
    <mat-drawer #drawer opened="true" mode="side" position="start">
    <mat-nav-list>
      <mat-list-item>
        <button routerLink="card" mat-button> Dashboard</button>
      </mat-list-item>
      <mat-list-item>
        Dashboard1
      </mat-list-item>
      <mat-list-item>
        Dashboard1
      </mat-list-item>
      <mat-list-item>
        Dashboard1
      </mat-list-item>
      <mat-list-item>
        Dashboard1
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

</mat-drawer-container>